In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data_set= pd.read_csv("/content/T1.csv")

In [51]:
data_set.info()
data_set.isnull().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

Date/Time                        False
LV ActivePower (kW)              False
Wind Speed (m/s)                 False
Theoretical_Power_Curve (KWh)    False
Wind Direction (°)               False
dtype: bool

In [0]:
data_1=data_set.copy()

In [53]:
#Giving proper names to columns
data_1.rename(columns={'LV ActivePower (kW)':'ActivePower(kW)',"Wind Speed (m/s)":"WindSpeed(m/s)","Wind Direction (°)":"Wind_Direction"},
                inplace=True)
data_1.drop(columns=['Date/Time'],axis = 1,inplace = True)
data_1.head()

   ActivePower(kW)  ...  Wind_Direction
0       380.047791  ...      259.994904
1       453.769196  ...      268.641113
2       306.376587  ...      272.564789
3       419.645905  ...      271.258087
4       380.650696  ...      265.674286

[5 rows x 4 columns]

In [0]:
#deleting False Data
data_2 = data_1[((data_1['WindSpeed(m/s)']>=3.3) & (data_1['ActivePower(kW)']>0)) | ((data_1['WindSpeed(m/s)']>3.3) & (data_1['Theoretical_Power_Curve (KWh)']>0))]

In [55]:
data_2.head()

   ActivePower(kW)  ...  Wind_Direction
0       380.047791  ...      259.994904
1       453.769196  ...      268.641113
2       306.376587  ...      272.564789
3       419.645905  ...      271.258087
4       380.650696  ...      265.674286

[5 rows x 4 columns]

In [0]:
Wind_data=data_2['Wind_Direction'].copy()

In [0]:
Theri=data_2['Theoretical_Power_Curve (KWh)'].copy()

In [58]:
data_2.drop(columns = ['Wind_Direction'],inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
data_2.head()

   ActivePower(kW)  WindSpeed(m/s)  Theoretical_Power_Curve (KWh)
0       380.047791        5.311336                     416.328908
1       453.769196        5.672167                     519.917511
2       306.376587        5.216037                     390.900016
3       419.645905        5.659674                     516.127569
4       380.650696        5.577941                     491.702972

In [60]:
data_2['Theoretical_Power_Curve (KWh)'] = Theri

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
data_2.rename(columns= {
    'Theoretical_Power_Curve (KWh)' : 'Theoretical_Power'
})

       ActivePower(kW)  WindSpeed(m/s)  Theoretical_Power
0           380.047791        5.311336         416.328908
1           453.769196        5.672167         519.917511
2           306.376587        5.216037         390.900016
3           419.645905        5.659674         516.127569
4           380.650696        5.577941         491.702972
...                ...             ...                ...
50525      2963.980957       11.404030        3397.190793
50526      1684.353027        7.332648        1173.055771
50527      2201.106934        8.435358        1788.284755
50528      2515.694092        9.421366        2418.382503
50529      2820.466064        9.979332        2779.184096

[41436 rows x 3 columns]

In [0]:
data_2.insert(0,'Wind_Direction',Wind_data)

In [63]:
data_2.head()

   Wind_Direction  ...  Theoretical_Power_Curve (KWh)
0      259.994904  ...                     416.328908
1      268.641113  ...                     519.917511
2      272.564789  ...                     390.900016
3      271.258087  ...                     516.127569
4      265.674286  ...                     491.702972

[5 rows x 4 columns]

In [64]:
AP= data_2['ActivePower(kW)']
data_2.drop('ActivePower(kW)',inplace = True,axis = 1)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
data_2.insert(2,'Active Power',AP)

In [0]:
dic = dict()
for i in range(len(data_2)):
  s = str(i)
  dic[s] = i

In [67]:
len(dic)

41436

In [0]:
li=list(dic.values())

In [69]:
data_2['index'] = li

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
data_2.set_index('index',inplace = True)

In [71]:
data_2.head()

       Wind_Direction  ...  Theoretical_Power_Curve (KWh)
index                  ...
0          259.994904  ...                     416.328908
1          268.641113  ...                     519.917511
2          272.564789  ...                     390.900016
3          271.258087  ...                     516.127569
4          265.674286  ...                     491.702972

[5 rows x 4 columns]

In [0]:
x = data_2.iloc[:,0:3].values

In [0]:
y = data_2.iloc[:,3:4].values

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.33,random_state = 0)

In [75]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = regressor.predict(x_test)

In [0]:
import pickle
pickle.dump(regressor,open('Power.pkl','wb'))

In [0]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9208481470404691

In [0]:
sol = regressor.predict([[270,10.27,4000],[80.502724,11.404030,1780]])

In [0]:
sol

array([[3182.6431878 ],
       [2392.16048174]])